---
import { getAllCountryFilterResponse } from "@/actions/index";
import CountryCard from "@/components/countries/CountryCard.astro";
import BackHistory from "@/components/shared/BackHistory.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import SectionCountriesGrid from "@/components/countries/SectionCountriesGrid.astro";

// otra opcion para obtener el filtro de paises
// countries/search/[str].astro

const { str } = Astro.params;

if (!str) {
  Astro.redirect("/404");
  return;
}

const countries = (await getAllCountryFilterResponse()).filter((country) =>
  country.name.common.toLowerCase().includes(str.toLowerCase()),
);
const numResults = countries.length;

---

<MainLayout title="Vengardus | Search">
  <BackHistory />
  <section class="mt-3">
    {
      countries.length < 1 ? (
        <p>No se encontraron resultados para la busqueda "{str}"</p>
      ) : (
        <p>
            Se {numResults === 1 ? "encontr" : "encontraron"} {numResults} {numResults === 1 ? "resultado" : "resultados"} para la busqueda "{str}"
          </p>
          <SectionCountriesGrid>
            {countries.map((country) => (
              <CountryCard country={country} />
            ))}
          </SectionCountriesGrid>
      )
    }
  </section></MainLayout
>
