---
import Title from "@/components/shared/Title.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { Picture } from "astro:assets";
import { getEntry } from "astro:content";

const {slug} = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const guide = await getEntry("guide", slug);

if (guide === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await guide.render();
console.log(guide)
---

<BlogLayout title="Vengardus | Guide"> 
  <Title>{guide.data.title}</Title>
  <div class="w-full h-96">
    <Picture 
      src={guide.data.image}
      alt=""
      class="object-cover w-full h-full"  
      quality={"medium"} 
      formats={["avif", "webp"]}
      transition:name={`${guide.slug}-image`}
    />
  </div>
  <Content />
</BlogLayout>
