---
import BackHistory from "@/components/shared/BackHistory.astro";
import Title from "@/components/shared/Title.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { Picture } from "astro:assets";
import { getEntry } from "astro:content";

const {slug} = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const guide = await getEntry("guides", slug);

if (guide === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await guide.render();
---

<BlogLayout title="Vengardus | Guide"> 
  <BackHistory />
  <Title>{guide.data.title}</Title>
  <div class="w-full h-96">
    <Picture
      src={guide.data.image}
      alt=""
      width={340}
      height={340}
      class="object-cover w-full h-full"  
      quality={"medium"} 
      formats={["avif", "webp", "jpeg", "png"]}
      transition:name={`${guide.slug}-image`}
    />
  </div>
  <div class="w-full">
    <Content class="w-full"/>
  </div>
</BlogLayout>
