---
import MainLayout from "@/layouts/MainLayout.astro"
import {IslandReact} from "@/components/islands/react/IslandReact"
import Title from "@/components/shared/Title.astro"
---

<MainLayout title="Vengardus | Island 1">
  <Title>Island 1</Title>
  <div class="flex flex-col gap-7">
    <IslandReact 
      client:load 
      transition:persist="counter" 
      transition:persist-props
    >
    </IslandReact> 
    <video controls="" autoplay="" transition:persist="video-online" width="300" height="300">
      <source src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4" type="video/mp4">
    </video>
  </div>
</MainLayout>