---
export const prerender = true;

import { getAllCountryFilterResponse } from "@/actions/index";
import CountryCard from "@/components/countries/CountryCard.astro";
import Pagination from "@/components/shared/Pagination.astro";
import Title from "@/components/shared/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths, Page } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const countries = await getAllCountryFilterResponse();
  return paginate(countries, { pageSize: 8 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title="Vengardus | Countries">
  <Title>Lista de paises</Title>

  <section class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-7 pt-3">
    {
      page.data.map((country) => (
        <CountryCard country={country} />
      ))
    }
  </section>

  <Pagination page={page} />
</MainLayout>
