---
export const prerender = true;

import { getAllCountryFilterResponse } from "@/actions/index";
import CountryCard from "@/components/countries/CountryCard.astro";
import SectionCountriesGrid from "@/components/countries/SectionCountriesGrid.astro";
import Pagination from "@/components/shared/Pagination.astro";
import SearchForm from "@/components/shared/SearchForm.astro";
import Title from "@/components/shared/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths, Page } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const countries = await getAllCountryFilterResponse();
  return paginate(countries, { pageSize: 8 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

---

<MainLayout title="Vengardus | Countries">
  <div class="flex flex-col sm:flex-row w-full justify-between">
    <Title>Lista de paises</Title>
    <SearchForm />
  </div>

  <SectionCountriesGrid>
    {
      page.data.map((country) => (
        <CountryCard country={country} />
      ))
    }
  </SectionCountriesGrid>

  <Pagination page={page} />
</MainLayout>
