---
import Title from "@/components/shared/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const date01 = new Date().toTimeString();
---

<MainLayout title="Vengardus | Test">
  
  <Title>Test</Title>

  <dir class="mt-7 flex flex-col gap-3">
    <div class="flex gap-3">
      <label for="data">Ingrese algo: </label>
      <input type="text" name="data" id="data" class="text-gray-900" autofocus/>
    </div>
    <p class="text-gray-100" id="output">Presione enter cuando termine de ingresa dato</p>
    <p id="initTime">Hora inicial: {date01}</p>
    <p id="currentTime">Hora actual: </p>
  </dir>

  <!-- Script para manejar el evento change -->
  <script>
import { ScriptElementKindModifier } from "typescript";

    const inputElement = document.getElementById("data") as HTMLInputElement;
    const outputElement = document.getElementById("output") as HTMLParagraphElement;
    const currentTimeElement = document.getElementById("currentTime") as HTMLParagraphElement;

    function handleInputChange(event: Event) {
      // Mostrar el valor del input dentro del elemento <p> con id "output"
      outputElement.textContent = `Valor del input: ${(event.target as HTMLInputElement).value}`;
    }

    inputElement.addEventListener("change", handleInputChange);

    setInterval(() => {
      currentTimeElement.textContent = `Hora actual: ${new Date().toTimeString()}`;
    }, 1000);    
  </script>
</MainLayout>
